### data manipulation , visualisation, building ML models

## Data Structure in pandas
#### Series
#### Dataframe

In [1]:
import pandas as pd

In [2]:
# create Pandas Series

In [3]:
a = pd.Series([1,2,3,4,5,6])
a

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [4]:
type(a)

pandas.core.series.Series

In [5]:
a[:]

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [6]:
a[:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
a[[2,5,1]]

2    3
5    6
1    2
dtype: int64

In [8]:
b = pd.Series(['a','b','c'])

In [9]:
b

0    a
1    b
2    c
dtype: object

# Pandas function

In [10]:
a = pd.date_range(start = '01-01-2023',end = '23-5-2023')

In [11]:
a

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-05-14', '2023-05-15', '2023-05-16', '2023-05-17',
               '2023-05-18', '2023-05-19', '2023-05-20', '2023-05-21',
               '2023-05-22', '2023-05-23'],
              dtype='datetime64[ns]', length=143, freq='D')

In [12]:
type(a)

pandas.core.indexes.datetimes.DatetimeIndex

# PANDAS DATAFRAME

In [13]:
import numpy as np

In [14]:
temp = np.random.randint(low = 20, high = 100,size=[20,])

In [15]:
temp

array([96, 99, 26, 63, 97, 76, 45, 28, 22, 93, 87, 91, 99, 24, 55, 72, 95,
       26, 40, 21])

In [16]:
name = np.random.choice(['Jay' , 'Krishna' , 'Geekshub' , 'Ankit'],20)

In [17]:
random = np.random.choice([10,11,13,12,14],20)

In [18]:
a = list(zip(temp,name,random))

In [19]:
df = pd.DataFrame(data = a, columns = ['temp','name','random'])

In [20]:
df

    temp      name  random
0     96     Ankit      10
1     99       Jay      13
2     26   Krishna      13
3     63  Geekshub      11
4     97   Krishna      12
5     76       Jay      10
6     45     Ankit      10
7     28       Jay      13
8     22       Jay      14
9     93   Krishna      13
10    87   Krishna      11
11    91       Jay      14
12    99     Ankit      10
13    24       Jay      10
14    55  Geekshub      10
15    72  Geekshub      10
16    95       Jay      12
17    26       Jay      10
18    40     Ankit      14
19    21       Jay      14

In [21]:
list(zip(temp,name,random))

[(96, 'Ankit', 10),
 (99, 'Jay', 13),
 (26, 'Krishna', 13),
 (63, 'Geekshub', 11),
 (97, 'Krishna', 12),
 (76, 'Jay', 10),
 (45, 'Ankit', 10),
 (28, 'Jay', 13),
 (22, 'Jay', 14),
 (93, 'Krishna', 13),
 (87, 'Krishna', 11),
 (91, 'Jay', 14),
 (99, 'Ankit', 10),
 (24, 'Jay', 10),
 (55, 'Geekshub', 10),
 (72, 'Geekshub', 10),
 (95, 'Jay', 12),
 (26, 'Jay', 10),
 (40, 'Ankit', 14),
 (21, 'Jay', 14)]

In [22]:
df = pd.DataFrame({'temp': temp, 'name': name, 'random':random})

In [23]:
type(df)

pandas.core.frame.DataFrame

# Operations

In [24]:
df.head()

   temp      name  random
0    96     Ankit      10
1    99       Jay      13
2    26   Krishna      13
3    63  Geekshub      11
4    97   Krishna      12

In [25]:
df.tail()

    temp      name  random
15    72  Geekshub      10
16    95       Jay      12
17    26       Jay      10
18    40     Ankit      14
19    21       Jay      14

In [26]:
df.shape

(20, 3)

In [27]:
df.columns

Index(['temp', 'name', 'random'], dtype='object')

In [28]:
df.name

0        Ankit
1          Jay
2      Krishna
3     Geekshub
4      Krishna
5          Jay
6        Ankit
7          Jay
8          Jay
9      Krishna
10     Krishna
11         Jay
12       Ankit
13         Jay
14    Geekshub
15    Geekshub
16         Jay
17         Jay
18       Ankit
19         Jay
Name: name, dtype: object

In [29]:
df['name']

0        Ankit
1          Jay
2      Krishna
3     Geekshub
4      Krishna
5          Jay
6        Ankit
7          Jay
8          Jay
9      Krishna
10     Krishna
11         Jay
12       Ankit
13         Jay
14    Geekshub
15    Geekshub
16         Jay
17         Jay
18       Ankit
19         Jay
Name: name, dtype: object

In [30]:
df['temp']

0     96
1     99
2     26
3     63
4     97
5     76
6     45
7     28
8     22
9     93
10    87
11    91
12    99
13    24
14    55
15    72
16    95
17    26
18    40
19    21
Name: temp, dtype: int32

In [31]:
df['temp'].describe()

count    20.000000
mean     62.750000
std      30.963263
min      21.000000
25%      27.500000
50%      67.500000
75%      93.500000
max      99.000000
Name: temp, dtype: float64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   temp    20 non-null     int32
 1   name    20 non-null     object
 2   random  20 non-null     int32
dtypes: int32(2), object(1)
memory usage: 452.0+ bytes

In [33]:
df.values

array([[96, 'Ankit', 10],
       [99, 'Jay', 13],
       [26, 'Krishna', 13],
       [63, 'Geekshub', 11],
       [97, 'Krishna', 12],
       [76, 'Jay', 10],
       [45, 'Ankit', 10],
       [28, 'Jay', 13],
       [22, 'Jay', 14],
       [93, 'Krishna', 13],
       [87, 'Krishna', 11],
       [91, 'Jay', 14],
       [99, 'Ankit', 10],
       [24, 'Jay', 10],
       [55, 'Geekshub', 10],
       [72, 'Geekshub', 10],
       [95, 'Jay', 12],
       [26, 'Jay', 10],
       [40, 'Ankit', 14],
       [21, 'Jay', 14]], dtype=object)

# INDEXES

In [34]:
df.set_index('temp')

          name  random
temp
96       Ankit      10
99         Jay      13
26     Krishna      13
63    Geekshub      11
97     Krishna      12
76         Jay      10
45       Ankit      10
28         Jay      13
22         Jay      14
93     Krishna      13
87     Krishna      11
91         Jay      14
99       Ankit      10
24         Jay      10
55    Geekshub      10
72    Geekshub      10
95         Jay      12
26         Jay      10
40       Ankit      14
21         Jay      14

In [35]:
df

    temp      name  random
0     96     Ankit      10
1     99       Jay      13
2     26   Krishna      13
3     63  Geekshub      11
4     97   Krishna      12
5     76       Jay      10
6     45     Ankit      10
7     28       Jay      13
8     22       Jay      14
9     93   Krishna      13
10    87   Krishna      11
11    91       Jay      14
12    99     Ankit      10
13    24       Jay      10
14    55  Geekshub      10
15    72  Geekshub      10
16    95       Jay      12
17    26       Jay      10
18    40     Ankit      14
19    21       Jay      14

In [36]:
df.set_index('temp',inplace = True)

In [37]:
df

          name  random
temp
96       Ankit      10
99         Jay      13
26     Krishna      13
63    Geekshub      11
97     Krishna      12
76         Jay      10
45       Ankit      10
28         Jay      13
22         Jay      14
93     Krishna      13
87     Krishna      11
91         Jay      14
99       Ankit      10
24         Jay      10
55    Geekshub      10
72    Geekshub      10
95         Jay      12
26         Jay      10
40       Ankit      14
21         Jay      14

In [38]:
df.sort_index(axis = 0, ascending = False)

          name  random
temp
99       Ankit      10
99         Jay      13
97     Krishna      12
96       Ankit      10
95         Jay      12
93     Krishna      13
91         Jay      14
87     Krishna      11
76         Jay      10
72    Geekshub      10
63    Geekshub      11
55    Geekshub      10
45       Ankit      10
40       Ankit      14
28         Jay      13
26     Krishna      13
26         Jay      10
24         Jay      10
22         Jay      14
21         Jay      14

In [39]:
df.sort_values(by = 'random',ascending = False)

          name  random
temp
21         Jay      14
40       Ankit      14
91         Jay      14
22         Jay      14
99         Jay      13
26     Krishna      13
28         Jay      13
93     Krishna      13
97     Krishna      12
95         Jay      12
87     Krishna      11
63    Geekshub      11
45       Ankit      10
99       Ankit      10
24         Jay      10
55    Geekshub      10
72    Geekshub      10
76         Jay      10
26         Jay      10
96       Ankit      10

In [40]:
df.drop(['random'],axis = 1)

          name
temp
96       Ankit
99         Jay
26     Krishna
63    Geekshub
97     Krishna
76         Jay
45       Ankit
28         Jay
22         Jay
93     Krishna
87     Krishna
91         Jay
99       Ankit
24         Jay
55    Geekshub
72    Geekshub
95         Jay
26         Jay
40       Ankit
21         Jay

## loc and iloc

In [41]:
df.iloc[1:3,1]

temp
99    13
26    13
Name: random, dtype: int32

In [42]:
df.iloc[[True,True,False,False,True,True,False,False,True,True,False,False,True,True,False,False,True,True,False,False]]

         name  random
temp
96      Ankit      10
99        Jay      13
97    Krishna      12
76        Jay      10
22        Jay      14
93    Krishna      13
99      Ankit      10
24        Jay      10
95        Jay      12
26        Jay      10

In [43]:
df.head()

          name  random
temp
96       Ankit      10
99         Jay      13
26     Krishna      13
63    Geekshub      11
97     Krishna      12

# df.loc[30,:]

In [45]:
# df.loc[[35,45,46,21]]

In [46]:
# df.loc[[35,45], 'name' :'random']

In [47]:
df.loc[[True,True,False,True,True,True,False,True,True,True,False,True,True,True,False,True,True,True,False,True]]

          name  random
temp
96       Ankit      10
99         Jay      13
63    Geekshub      11
97     Krishna      12
76         Jay      10
28         Jay      13
22         Jay      14
93     Krishna      13
91         Jay      14
99       Ankit      10
24         Jay      10
72    Geekshub      10
95         Jay      12
26         Jay      10
21         Jay      14

In [48]:
df.loc[df.random >13]

       name  random
temp
22      Jay      14
91      Jay      14
40    Ankit      14
21      Jay      14

In [49]:
df.loc[(df.random > 13) | (df.random == 10),:]

          name  random
temp
96       Ankit      10
76         Jay      10
45       Ankit      10
22         Jay      14
91         Jay      14
99       Ankit      10
24         Jay      10
55    Geekshub      10
72    Geekshub      10
26         Jay      10
40       Ankit      14
21         Jay      14

In [50]:
# df.loc[[True,True,False,True,:]]

In [51]:
df1 = pd.read_csv('weather-1.csv')

In [52]:
df1.to_excel('weather_1_in_excel.xlsx',sheet_name = 'India Weather')

In [53]:
# required libraries
# pip3 install xlrd
df2 = pd.read_excel('weather_1_in_excel.xlsx')

In [54]:
df2

,Unnamed: 0,State/UT,District,Temperature (C),Condition,Humidity (%),Wind Speed (km/h),Last Updated
0,0,Andhra Pradesh,Anantapur,22.1,Clear,64,14.4,2025-01-23 23:00:00
1,1,Andhra Pradesh,Chittoor,18.5,Clear,93,4.0,2025-01-23 23:00:00
2,2,Andhra Pradesh,East Godavari,19.4,Clear,86,3.6,2025-01-23 23:00:00
3,3,Andhra Pradesh,Guntur,22.3,Mist,88,5.4,2025-01-23 23:00:00
4,4,Andhra Pradesh,Krishna,22.3,Mist,88,10.8,2025-01-23 23:00:00
...,...,...,...,...,...,...,...,...
1147,1147,Delhi,South West Delhi,18.1,Cloudy,40,18.0,2025-01-20 00:00:00
1148,1148,Puducherry,Karaikal,24.9,Light rain shower,81,25.9,2025-01-20 00:00:00
1149,1149,Puducherry,Mahe,26.2,Partly cloudy,74,18.4,2025-01-20 00:00:00
1150,1150,Puducherry,Puducherry,24.8,Sunny,76,26.3,2025-01-20 00:00:00
1151,1151,Puducherry,Yanam,23.6,Sunny,65,15.5,2025-01-20 00:00:00

In [55]:
df2.to_csv('file.csv')

In [56]:
df2.to_csv('file.noindex.csv',index = False)

In [57]:
d1 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns = ['JAY','LION','KING'])

In [58]:
d2 = pd.DataFrame([[10,11,12],[13,14,15],[16,17,18]],columns = ['NAME','POSITION','KING'])

In [59]:
d2

   NAME  POSITION  KING
0    10        11    12
1    13        14    15
2    16        17    18

In [60]:
pd.concat((d1,d2),axis=0)

   JAY  LION  KING  NAME  POSITION
0  1.0   2.0     3   NaN       NaN
1  4.0   5.0     6   NaN       NaN
2  7.0   8.0     9   NaN       NaN
0  NaN   NaN    12  10.0      11.0
1  NaN   NaN    15  13.0      14.0
2  NaN   NaN    18  16.0      17.0

In [61]:
pd.concat((d1,d2),axis=1)

   JAY  LION  KING  NAME  POSITION  KING
0    1     2     3    10        11    12
1    4     5     6    13        14    15
2    7     8     9    16        17    18

In [62]:
pd.concat((d1,d2),axis=0,ignore_index = True)

   JAY  LION  KING  NAME  POSITION
0  1.0   2.0     3   NaN       NaN
1  4.0   5.0     6   NaN       NaN
2  7.0   8.0     9   NaN       NaN
3  NaN   NaN    12  10.0      11.0
4  NaN   NaN    15  13.0      14.0
5  NaN   NaN    18  16.0      17.0

### HERE WE HAVE LOADED DATA SET

In [63]:
df_group = df2.groupby("State/UT")

In [64]:
df_group

In [65]:
for temperature in df_group:
    print(temperature)

('Andaman and Nicobar Islands',       Unnamed: 0                     State/UT                  District  \
260          260  Andaman and Nicobar Islands                   Nicobar
261          261  Andaman and Nicobar Islands  North and Middle Andaman
262          262  Andaman and Nicobar Islands             South Andaman
548          548  Andaman and Nicobar Islands                   Nicobar
549          549  Andaman and Nicobar Islands  North and Middle Andaman
550          550  Andaman and Nicobar Islands             South Andaman
836          836  Andaman and Nicobar Islands                   Nicobar
837          837  Andaman and Nicobar Islands  North and Middle Andaman
838          838  Andaman and Nicobar Islands             South Andaman
1124        1124  Andaman and Nicobar Islands                   Nicobar
1125        1125  Andaman and Nicobar Islands  North and Middle Andaman
1126        1126  Andaman and Nicobar Islands             South Andaman

      Temperature (C)             Condition  Humidity (%)  Wind Speed (km/h)  \
260               27.2     Light rain shower            80               27.7
261               27.2     Light rain shower            80               27.7
262               27.2     Light rain shower            80               27.7
548               27.4                Cloudy            72               23.4
549               27.4                Cloudy            72               23.4
550               27.4                Cloudy            72               23.4
836               27.6  Patchy rain possible            74               22.7
837               27.6  Patchy rain possible            74               22.7
838               27.6  Patchy rain possible            74               22.7
1124              27.7         Partly cloudy            70               21.6
1125              27.7         Partly cloudy            70               21.6
1126              27.7         Partly cloudy            70               21.6

             Last Updated
260   2025-01-23 23:15:00
261   2025-01-23 23:15:00
262   2025-01-23 23:15:00
548   2025-01-22 00:00:00
549   2025-01-22 00:00:00
550   2025-01-22 00:00:00
836   2025-01-21 00:00:00
837   2025-01-21 00:00:00
838   2025-01-21 00:00:00
1124  2025-01-20 00:00:00
1125  2025-01-20 00:00:00
1126  2025-01-20 00:00:00  )
('Andhra Pradesh',      Unnamed: 0        State/UT       District  Temperature (C) Condition  \
0             0  Andhra Pradesh      Anantapur              22.1     Clear
1             1  Andhra Pradesh       Chittoor              18.5     Clear
2             2  Andhra Pradesh  East Godavari              19.4     Clear
3             3  Andhra Pradesh         Guntur              22.3      Mist
4             4  Andhra Pradesh        Krishna              22.3      Mist
5             5  Andhra Pradesh        Kurnool              21.8     Clear
6             6  Andhra Pradesh       Prakasam              27.0     Sunny
7             7  Andhra Pradesh     Srikakulam              20.8     Clear
8             8  Andhra Pradesh  Visakhapatnam              23.3     Clear
9             9  Andhra Pradesh   Vizianagaram              19.9     Clear
288         288  Andhra Pradesh      Anantapur              24.1     Sunny
289         289  Andhra Pradesh       Chittoor              21.2     Sunny
290         290  Andhra Pradesh  East Godavari              23.2     Sunny
291         291  Andhra Pradesh         Guntur              22.4     Sunny
292         292  Andhra Pradesh        Krishna              22.7     Sunny
293         293  Andhra Pradesh        Kurnool              24.8     Sunny
294         294  Andhra Pradesh       Prakasam              24.7     Sunny
295         295  Andhra Pradesh     Srikakulam              22.5     Sunny
296         296  Andhra Pradesh  Visakhapatnam              24.1     Sunny
297         297  Andhra Pradesh   Vizianagaram              22.4     Sunny
576         576  Andhra Pradesh      Anantapur              24.7     Sunny
577         577  Andhra Pradesh       Chittoor              21.5     Sunny
578         578  Andhra Pradesh  East Godavari              23.3     Sunny
579         579  Andhra Pradesh         Guntur              22.9     Sunny
580         580  Andhra Pradesh        Krishna              22.9     Sunny
581         581  Andhra Pradesh        Kurnool              25.0     Sunny
582         582  Andhra Pradesh       Prakasam              25.0     Sunny
583         583  Andhra Pradesh     Srikakulam              22.3     Sunny
584         584  Andhra Pradesh  Visakhapatnam              23.9     Sunny
585         585  Andhra Pradesh   Vizianagaram              22.3     Sunny
864         864  Andhra Pradesh      Anantapur              25.4     Sunny
865         865  Andhra Pradesh       Chittoor              22.9     Sunny
866         866  Andhra Pradesh  East Godavari              23.6     Sunny
867         867  Andhra Pradesh         Guntur              23.2     Sunny
868         868  Andhra Pradesh        Krishna              23.2     Sunny
869         869  Andhra Pradesh        Kurnool              25.5     Sunny
870         870  Andhra Pradesh       Prakasam              25.1     Sunny
871         871  Andhra Pradesh     Srikakulam              22.1     Sunny
872         872  Andhra Pradesh  Visakhapatnam              23.8     Sunny
873         873  Andhra Pradesh   Vizianagaram              22.2     Sunny

     Humidity (%)  Wind Speed (km/h)         Last Updated
0              64               14.4  2025-01-23 23:00:00
1              93                4.0  2025-01-23 23:00:00
2              86                3.6  2025-01-23 23:00:00
3              88                5.4  2025-01-23 23:00:00
4              88               10.8  2025-01-23 23:00:00
5              66               16.9  2025-01-23 23:00:00
6              61                3.6  2025-01-23 11:30:00
7              78                3.6  2025-01-23 23:00:00
8              67                3.6  2025-01-23 23:00:00
9              77                3.6  2025-01-23 23:00:00
288            42               20.9  2025-01-22 00:00:00
289            73               12.6  2025-01-22 00:00:00
290            65               14.4  2025-01-22 00:00:00
291            70               18.7  2025-01-22 00:00:00
292            74               14.8  2025-01-22 00:00:00
293            39               21.6  2025-01-22 00:00:00
294            72               17.6  2025-01-22 00:00:00
295            63               15.8  2025-01-22 00:00:00
296            59               13.7  2025-01-22 00:00:00
297            59               14.8  2025-01-22 00:00:00
576            46               20.2  2025-01-21 00:00:00
577            67               15.5  2025-01-21 00:00:00
578            66               14.0  2025-01-21 00:00:00
579            71               15.5  2025-01-21 00:00:00
580            74               14.8  2025-01-21 00:00:00
581            37               14.8  2025-01-21 00:00:00
582            72               18.7  2025-01-21 00:00:00
583            62               14.4  2025-01-21 00:00:00
584            59               12.2  2025-01-21 00:00:00
585            58               13.0  2025-01-21 00:00:00
864            50               16.2  2025-01-20 00:00:00
865            71               15.1  2025-01-20 00:00:00
866            65               15.5  2025-01-20 00:00:00
867            72               11.5  2025-01-20 00:00:00
868            76               16.6  2025-01-20 00:00:00
869            40               13.3  2025-01-20 00:00:00
870            77               15.5  2025-01-20 00:00:00
871            62               15.1  2025-01-20 00:00:00
872            60               13.3  2025-01-20 00:00:00
873            60               13.7  2025-01-20 00:00:00  )
('Arunachal Pradesh',      Unnamed: 0           State/UT         District  Temperature (C)  \
10           10  Arunachal Pradesh           Tawang               0.2
11           11  Arunachal Pradesh      West Kameng              24.4
12           12  Arunachal Pradesh      East Kameng              24.4
13           13  Arunachal Pradesh       Papum Pare              38.2
14           14  Arunachal Pradesh     Kurung Kumey             -21.5
15           15  Arunachal Pradesh        Kra Daadi              30.5
16           16  Arunachal Pradesh  Lower Subansiri              -7.8
17           17  Arunachal Pradesh  Upper Subansiri              17.7
18           18  Arunachal Pradesh       West Siang              18.3
19           19  Arunachal Pradesh       East Siang              18.3
298         298  Arunachal Pradesh           Tawang              -0.5
299         299  Arunachal Pradesh      West Kameng              26.3
300         300  Arunachal Pradesh      East Kameng              26.3
301         301  Arunachal Pradesh       Papum Pare              28.7
302         302  Arunachal Pradesh     Kurung Kumey              -7.1
303         303  Arunachal Pradesh        Kra Daadi              27.3
304         304  Arunachal Pradesh  Lower Subansiri             -12.7
305         305  Arunachal Pradesh  Upper Subansiri              20.1
306         306  Arunachal Pradesh       West Siang              21.8
307         307  Arunachal Pradesh       East Siang              21.8
586         586  Arunachal Pradesh           Tawang              -0.2
587         587  Arunachal Pradesh      West Kameng              25.3
588         588  Arunachal Pradesh      East Kameng              25.3
589         589  Arunachal Pradesh       Papum Pare              28.5
590         590  Arunachal Pradesh     Kurung Kumey              -1.0
591         591  Arunachal Pradesh        Kra Daadi              26.9
592         592  Arunachal Pradesh  Lower Subansiri             -12.6
593         593  Arunachal Pradesh  Upper Subansiri              20.2
594         594  Arunachal Pradesh       West Siang              21.4
595         595  Arunachal Pradesh       East Siang              21.4
874         874  Arunachal Pradesh           Tawang               0.6
875         875  Arunachal Pradesh      West Kameng              26.4
876         876  Arunachal Pradesh      East Kameng              26.4
877         877  Arunachal Pradesh       Papum Pare              28.0
878         878  Arunachal Pradesh     Kurung Kumey              -5.2
879         879  Arunachal Pradesh        Kra Daadi              26.6
880         880  Arunachal Pradesh  Lower Subansiri             -12.8
881         881  Arunachal Pradesh  Upper Subansiri              21.3
882         882  Arunachal Pradesh       West Siang              20.0
883         883  Arunachal Pradesh       East Siang              20.0

         Condition  Humidity (%)  Wind Speed (km/h)         Last Updated
10   Partly Cloudy            87                4.0  2025-01-23 23:00:00
11           Clear            37                7.9  2025-01-24 00:30:00
12           Clear            37                7.9  2025-01-24 00:30:00
13           Sunny            23                6.5  2025-01-23 17:30:00
14      Light snow            93               22.0  2025-01-23 22:30:00
15           Clear            29               16.9  2025-01-23 20:30:00
16           Sunny            37               11.5  2025-01-23 12:30:00
17            Mist            94                3.6  2025-01-23 23:00:00
18           Clear            34                6.8  2025-01-23 23:00:00
19           Clear            34                6.8  2025-01-23 23:00:00
298          Sunny            43               16.9  2025-01-22 00:00:00
299          Sunny            35               11.2  2025-01-22 00:00:00
300          Sunny            35               11.2  2025-01-22 00:00:00
301          Sunny            25                7.9  2025-01-22 00:00:00
302     Light snow            78               41.8  2025-01-22 00:00:00
303  Partly cloudy            52               29.9  2025-01-22 00:00:00
304          Sunny            56               11.9  2025-01-22 00:00:00
305          Sunny            77               12.2  2025-01-22 00:00:00
306          Sunny            32                8.3  2025-01-22 00:00:00
307          Sunny            32                8.3  2025-01-22 00:00:00
586          Sunny            30               10.8  2025-01-21 00:00:00
587          Sunny            35               10.8  2025-01-21 00:00:00
588          Sunny            35               10.8  2025-01-21 00:00:00
589          Sunny            11                8.6  2025-01-21 00:00:00
590     Light snow            80               33.1  2025-01-21 00:00:00
591          Sunny            47               27.7  2025-01-21 00:00:00
592       Overcast            59               15.5  2025-01-21 00:00:00
593          Sunny            72               14.8  2025-01-21 00:00:00
594          Sunny            36               11.5  2025-01-21 00:00:00
595          Sunny            36               11.5  2025-01-21 00:00:00
874          Sunny            23               25.6  2025-01-20 00:00:00
875          Sunny            32               10.8  2025-01-20 00:00:00
876          Sunny            32               10.8  2025-01-20 00:00:00
877          Sunny            13               11.9  2025-01-20 00:00:00
878     Heavy snow            90               22.7  2025-01-20 00:00:00
879  Partly cloudy            43               31.7  2025-01-20 00:00:00
880       Overcast            64               19.8  2025-01-20 00:00:00
881          Sunny            75               12.2  2025-01-20 00:00:00
882          Sunny            23               12.2  2025-01-20 00:00:00
883          Sunny            23               12.2  2025-01-20 00:00:00  )
('Assam',      Unnamed: 0 State/UT    District  Temperature (C)           Condition  \
20           20    Assam       Baksa              12.8       Partly Cloudy
21           21    Assam     Barpeta              15.4               Clear
22           22    Assam   Biswanath              20.7               Clear
23           23    Assam  Bongaigaon              16.6               Clear
24           24    Assam      Cachar              27.0               Sunny
25           25    Assam   Charaideo              27.0               Sunny
26           26    Assam     Chirang              15.2  Patchy rain nearby
27           27    Assam     Darrang              18.9               Clear
28           28    Assam     Dhemaji              18.2                Mist
29           29    Assam      Dhubri              17.3               Clear
308         308    Assam       Baksa              20.2               Sunny
309         309    Assam     Barpeta              20.1               Sunny
310         310    Assam   Biswanath              23.4               Sunny
311         311    Assam  Bongaigaon              20.0               Sunny
312         312    Assam      Cachar              24.7               Sunny
313         313    Assam   Charaideo              24.7               Sunny
314         314    Assam     Chirang               5.1               Sunny
315         315    Assam     Darrang              19.7               Sunny
316         316    Assam     Dhemaji              18.8               Sunny
317         317    Assam      Dhubri              20.3               Sunny
596         596    Assam       Baksa              19.9               Sunny
597         597    Assam     Barpeta              19.8               Sunny
598         598    Assam   Biswanath              22.7               Sunny
599         599    Assam  Bongaigaon              19.6               Sunny
600         600    Assam      Cachar              25.0               Sunny
601         601    Assam   Charaideo              25.0               Sunny
602         602    Assam     Chirang               5.2               Sunny
603         603    Assam     Darrang              19.1               Sunny
604         604    Assam     Dhemaji              18.3               Sunny
605         605    Assam      Dhubri              20.2               Sunny
884         884    Assam       Baksa              19.3               Sunny
885         885    Assam     Barpeta              19.3               Sunny
886         886    Assam   Biswanath              21.7               Sunny
887         887    Assam  Bongaigaon              19.2               Sunny
888         888    Assam      Cachar              25.1               Sunny
889         889    Assam   Charaideo              25.1               Sunny
890         890    Assam     Chirang               5.0               Sunny
891         891    Assam     Darrang              19.0               Sunny
892         892    Assam     Dhemaji              18.0               Sunny
893         893    Assam      Dhubri              19.7               Sunny

     Humidity (%)  Wind Speed (km/h)         Last Updated
20             74                4.0  2025-01-23 23:00:00
21             73                6.5  2025-01-23 23:00:00
22             74                9.4  2025-01-23 23:00:00
23             75                3.6  2025-01-23 23:00:00
24             61                3.6  2025-01-23 11:30:00
25             61                3.6  2025-01-23 11:30:00
26             85                3.6  2025-01-23 23:30:00
27             64                3.6  2025-01-23 23:00:00
28             88                5.4  2025-01-23 23:00:00
29             60                5.8  2025-01-23 23:00:00
308            48                9.7  2025-01-22 00:00:00
309            52                5.8  2025-01-22 00:00:00
310            41               10.8  2025-01-22 00:00:00
311            47                8.3  2025-01-22 00:00:00
312            72               17.6  2025-01-22 00:00:00
313            72               17.6  2025-01-22 00:00:00
314            63               10.8  2025-01-22 00:00:00
315            49                6.1  2025-01-22 00:00:00
316            46                7.6  2025-01-22 00:00:00
317            50                7.2  2025-01-22 00:00:00
596            46                9.0  2025-01-21 00:00:00
597            49                7.6  2025-01-21 00:00:00
598            33               11.5  2025-01-21 00:00:00
599            43                8.3  2025-01-21 00:00:00
600            72               18.7  2025-01-21 00:00:00
601            72               18.7  2025-01-21 00:00:00
602            59               11.2  2025-01-21 00:00:00
603            48                6.1  2025-01-21 00:00:00
604            44                7.9  2025-01-21 00:00:00
605            49                7.6  2025-01-21 00:00:00
884            43                8.3  2025-01-20 00:00:00
885            45                6.8  2025-01-20 00:00:00
886            29               15.5  2025-01-20 00:00:00
887            42                7.9  2025-01-20 00:00:00
888            77               15.5  2025-01-20 00:00:00
889            77               15.5  2025-01-20 00:00:00
890            51               10.4  2025-01-20 00:00:00
891            49                6.1  2025-01-20 00:00:00
892            49                7.6  2025-01-20 00:00:00
893            44                6.1  2025-01-20 00:00:00  )
('Bihar',      Unnamed: 0 State/UT        District  Temperature (C) Condition  \
30           30    Bihar          Araria              15.8     Clear
31           31    Bihar           Arwal              15.2      Mist
32           32    Bihar      Aurangabad              21.3      Mist
33           33    Bihar           Banka              15.7     Clear
34           34    Bihar       Begusarai              14.5     Clear
35           35    Bihar       Bhagalpur              15.3     Clear
36           36    Bihar         Bhojpur              14.2     Clear
37           37    Bihar           Buxar              15.3     Clear
38           38    Bihar       Darbhanga              14.8     Clear
39           39    Bihar  East Champaran              19.4     Clear

In [66]:
df_group.describe()

                                         Unnamed: 0                            \
                                              count   mean         std    min
State/UT
Andaman and Nicobar Islands                    12.0  693.0  336.312625  260.0
Andhra Pradesh                                 40.0  436.5  326.108760    0.0
Arunachal Pradesh                              40.0  446.5  326.108760   10.0
Assam                                          40.0  456.5  326.108760   20.0
Bihar                                          40.0  466.5  326.108760   30.0
Chandigarh                                      4.0  695.0  371.806401  263.0
Chhattisgarh                                   40.0  476.5  326.108760   40.0
Dadra and Nagar Haveli and Daman and Diu       12.0  697.0  336.312625  264.0
Delhi                                          40.0  710.5  326.108760  274.0
Goa                                             8.0  482.5  344.226254   50.0
Gujarat                                        40.0  488.5  326.108760   52.0
Haryana                                        40.0  498.5  326.108760   62.0
Himachal Pradesh                               40.0  508.5  326.108760   72.0
Jharkhand                                      40.0  518.5  326.108760   82.0
Karnataka                                      40.0  528.5  326.108760   92.0
Kerala                                         40.0  538.5  326.108760  102.0
Lakshadweep                                    28.0  702.0  327.908750  267.0
Madhya Pradesh                                 40.0  548.5  326.108760  112.0
Maharashtra                                    40.0  558.5  326.108760  122.0
Manipur                                        40.0  568.5  326.108760  132.0
Meghalaya                                      32.0  577.5  327.154299  142.0
Mizoram                                        36.0  586.0  326.571804  150.0
Nagaland                                       40.0  595.5  326.108760  159.0
Odisha                                         40.0  605.5  326.108760  169.0
Puducherry                                     16.0  717.5  332.555760  284.0
Punjab                                         40.0  615.5  326.108760  179.0
Rajasthan                                      40.0  625.5  326.108760  189.0
Sikkim                                         16.0  632.5  332.555760  199.0
Tamil Nadu                                     40.0  639.5  326.108760  203.0
Telangana                                      40.0  649.5  326.108760  213.0
Tripura                                        28.0  658.0  327.908750  223.0
Uttar Pradesh                                  40.0  666.5  326.108760  230.0
Uttarakhand                                    40.0  676.5  326.108760  240.0
West Bengal                                    40.0  686.5  326.108760  250.0

                                                                         \
                                             25%    50%     75%     max
State/UT
Andaman and Nicobar Islands               476.50  693.0  909.50  1126.0
Andhra Pradesh                            218.25  436.5  654.75   873.0
Arunachal Pradesh                         228.25  446.5  664.75   883.0
Assam                                     238.25  456.5  674.75   893.0
Bihar                                     248.25  466.5  684.75   903.0
Chandigarh                                479.00  695.0  911.00  1127.0
Chhattisgarh                              258.25  476.5  694.75   913.0
Dadra and Nagar Haveli and Daman and Diu  480.50  697.0  913.50  1130.0
Delhi                                     492.25  710.5  928.75  1147.0
Goa                                       266.25  482.5  698.75   915.0
Gujarat                                   270.25  488.5  706.75   925.0
Haryana                                   280.25  498.5  716.75   935.0
Himachal Pradesh                          290.25  508.5  726.75   945.0
Jharkhand                                 300.25  518.5  736.75   955.0
Karnataka                                 310.25  528.5  746.75   965.0
Kerala                                    320.25  538.5  756.75   975.0
Lakshadweep                               484.50  702.0  919.50  1137.0
Madhya Pradesh                            330.25  548.5  766.75   985.0
Maharashtra                               340.25  558.5  776.75   995.0
Manipur                                   350.25  568.5  786.75  1005.0
Meghalaya                                 359.75  577.5  795.25  1013.0
Mizoram                                   368.00  586.0  804.00  1022.0
Nagaland                                  377.25  595.5  813.75  1032.0
Odisha                                    387.25  605.5  823.75  1042.0
Puducherry                                500.75  717.5  934.25  1151.0
Punjab                                    397.25  615.5  833.75  1052.0
Rajasthan                                 407.25  625.5  843.75  1062.0
Sikkim                                    415.75  632.5  849.25  1066.0
Tamil Nadu                                421.25  639.5  857.75  1076.0
Telangana                                 431.25  649.5  867.75  1086.0
Tripura                                   440.50  658.0  875.50  1093.0
Uttar Pradesh                             448.25  666.5  884.75  1103.0
Uttarakhand                               458.25  676.5  894.75  1113.0
West Bengal                               468.25  686.5  904.75  1123.0

                                         Temperature (C)             ...  \
                                                    count       mean  ...
State/UT                                                              ...
Andaman and Nicobar Islands                          12.0  27.475000  ...
Andhra Pradesh                                       40.0  23.007500  ...
Arunachal Pradesh                                    40.0  15.030000  ...
Assam                                                40.0  19.307500  ...
Bihar                                                40.0  18.442500  ...
Chandigarh                                            4.0  15.625000  ...
Chhattisgarh                                         40.0  21.740000  ...
Dadra and Nagar Haveli and Daman and Diu             12.0  23.033333  ...
Delhi                                                40.0  17.637500  ...
Goa                                                   8.0  25.625000  ...
Gujarat                                              40.0  22.242500  ...
Haryana                                              40.0  17.307500  ...
Himachal Pradesh                                     40.0  16.057500  ...
Jharkhand                                            40.0  19.580000  ...
Karnataka                                            40.0  23.380000  ...
Kerala                                               40.0  25.470000  ...
Lakshadweep                                          28.0  25.807143  ...
Madhya Pradesh                                       40.0  20.770000  ...
Maharashtra                                          40.0  22.957500  ...
Manipur                                              40.0  18.680000  ...
Meghalaya                                            32.0  14.328125  ...
Mizoram                                              36.0  18.102778  ...
Nagaland                                             40.0  15.975000  ...
Odisha                                               40.0  22.372500  ...
Puducherry                                           16.0  24.093750  ...
Punjab                                               40.0  15.772500  ...
Rajasthan                                            40.0  19.860000  ...
Sikkim                                               16.0   7.225000  ...
Tamil Nadu                                           40.0  23.927500  ...
Telangana                                            40.0  23.552500  ...
Tripura                                              28.0  20.367857  ...
Uttar Pradesh                                        40.0  17.687500  ...
Uttarakhand                                          40.0  11.822500  ...
West Bengal                                          40.0  21.602500  ...

                                         Humidity (%)       Wind Speed (km/h)  \
                                                  75%   max             count
State/UT
Andaman and Nicobar Islands                     75.50  80.0              12.0
Andhra Pradesh                                  73.25  93.0              40.0
Arunachal Pradesh                               60.25  94.0              40.0
Assam                                           72.00  88.0              40.0
Bihar                                           56.00  94.0              40.0
Chandigarh                                      37.75  40.0               4.0
Chhattisgarh                                    32.50  77.0              40.0
Dadra and Nagar Haveli and Daman and Diu        43.00  52.0              12.0
Delhi                                           48.00  72.0              40.0
Goa                                             60.00  66.0               8.0
Gujarat                                         37.75  77.0              40.0
Haryana                                         40.25  77.0              40.0
Himachal Pradesh                                50.50  96.0              40.0
Jharkhand                                       48.25  86.0              40.0
Karnataka                                       61.00  78.0              40.0
Kerala                                          77.25  92.0              40.0
Lakshadweep                                     72.00  77.0              28.0
Madhya Pradesh                                  46.25  63.0              40.0
Maharashtra                                     39.50  77.0              40.0
Manipur                                         72.00  88.0              40.0
Meghalaya                                       68.25  92.0              32.0
Mizoram                                         61.00  77.0              36.0
Nagaland                                        75.50  97.0              40.0
Odisha                                          63.75  94.0              40.0
Puducherry                                      77.00  89.0              16.0
Punjab                                          38.00  82.0              40.0
Rajasthan                                       48.25  77.0              40.0
Sikkim                                          64.50  84.0              16.0
Tamil Nadu                                      77.25  89.0              40.0
Telangana                                       61.00  88.0              40.0
Tripura                                         65.25  77.0              28.0
Uttar Pradesh                                   51.00  72.0              40.0
Uttarakhand                                     47.00  77.0              40.0
West Bengal                                     65.00  88.0              40.0

                                                                             \
                                               mean       std   min     25%
State/UT
Andaman and Nicobar Islands               23.850000  2.416421  21.6  22.425
Andhra Pradesh                            13.332500  4.959962   3.6  12.500
Arunachal Pradesh                         14.462500  8.610896   3.6   8.525
Assam                                      8.922500  4.375719   3.6   6.100
Bihar                                     14.827500  6.650197   3.6   9.925
Chandigarh                                14.125000  5.073707   9.0  10.350
Chhattisgarh                              10.985000  5.154413   3.6   7.925
Dadra and Nagar Haveli and Daman and Diu  16.283333  3.285183  11.9  12.800
Delhi                                     12.652500  3.857061   8.6   9.400
Goa                                       21.950000  5.386491  13.3  21.400
Gujarat                                   14.752500  3.728888   3.6  12.900
Haryana                                   13.162500  3.649776   3.6  11.100
Himachal Pradesh                          11.987500  4.608865   3.6   9.625
Jharkhand                                 15.215000  7.036518   3.6  11.075
Karnataka                                 14.685000  4.064830   3.6  13.300
Kerala                                    14.067500  5.574134   3.6  10.325
Lakshadweep                               14.250000  5.996017   3.6  14.150
Madhya Pradesh                            10.990000  3.479449   4.3   9.300
Maharashtra                               11.020000  4.751853   3.6   7.600
Manipur                                   10.437500  5.342317   3.6   6.450
Meghalaya                                 16.606250  5.954827   3.6  14.125
Mizoram                                    7.641667  4.535408   3.6   5.000
Nagaland                                   9.347500  6.434761   3.6   6.325
Odisha                                    10.107500  4.402761   3.6   6.725
Puducherry                                17.131250  6.107997   3.6  13.925
Punjab                                    11.362500  3.238763   3.6  10.100
Rajasthan                                 12.402500  3.041296   3.6  10.325
Sikkim                                     8.900000  3.164806   3.6   8.700
Tamil Nadu                                15.090000  5.311758   3.6  11.500
Telangana                                 10.920000  3.837881   3.6   7.900
Tripura                                   10.050000  4.648656   3.6   6.950
Uttar Pradesh                             16.500000  5.664917   6.1  12.125
Uttarakhand                               10.740000  4.408314   3.6   8.900
West Bengal                               11.495000  4.778206   3.6   8.125


                                            50%     75%   max
State/UT
Andaman and Nicobar Islands               23.05  24.475  27.7
Andhra Pradesh                            14.60  15.575  21.6
Arunachal Pradesh                         11.50  16.900  41.8
Assam                                      7.75  10.800  18.7
Bihar                                     15.30  20.200  29.2
Chandigarh                                13.85  17.625  19.8
Chhattisgarh                              10.80  13.250  27.4
Dadra and Nagar Haveli and Daman and Diu  16.90  19.400  20.2
Delhi                                     12.05  15.725  18.4
Goa                                       24.30  24.850  25.9
Gujarat                                   14.40  17.375  22.3
Haryana                                   12.20  15.500  22.0
Himachal Pradesh                          10.80  14.375  22.3
Jharkhand                                 17.30  20.375  24.5
Karnataka                                 15.10  17.375  19.8
Kerala                                    15.65  19.500  21.6
Lakshadweep                               16.70  18.700  20.9
Madhya Pradesh                            10.40  13.000  20.9
Maharashtra                               11.00  13.875  23.4
Manipur                                    9.00  15.500  18.7
Meghalaya                                 16.75  21.200  27.0
Mizoram                                    6.30   7.200  18.7
Nagaland                                   7.60   8.825  35.3
Odisha                                    10.40  12.600  18.7
Puducherry                                18.40  20.550  26.3
Punjab                                    11.35  13.300  18.7
Rajasthan                                 12.20  14.575  18.7
Sikkim                                    10.60  10.800  10.8
Tamil Nadu                                15.30  19.100  28.4
Telangana                                 11.20  12.600  18.7
Tripura                                   10.10  11.500  18.7
Uttar Pradesh                             14.60  21.600  28.1
Uttarakhand                                9.90  12.875  24.1
West Bengal                               12.60  15.500  18.7

[34 rows x 32 columns]

In [67]:
def hot_temp(x):
    return x > 30

In [68]:
df2['HOT'] = df2['Temperature (C)'].apply(hot_temp)

In [69]:
df2

,Unnamed: 0,State/UT,District,Temperature (C),Condition,Humidity (%),Wind Speed (km/h),Last Updated,HOT
0,0,Andhra Pradesh,Anantapur,22.1,Clear,64,14.4,2025-01-23 23:00:00,False
1,1,Andhra Pradesh,Chittoor,18.5,Clear,93,4.0,2025-01-23 23:00:00,False
2,2,Andhra Pradesh,East Godavari,19.4,Clear,86,3.6,2025-01-23 23:00:00,False
3,3,Andhra Pradesh,Guntur,22.3,Mist,88,5.4,2025-01-23 23:00:00,False
4,4,Andhra Pradesh,Krishna,22.3,Mist,88,10.8,2025-01-23 23:00:00,False
...,...,...,...,...,...,...,...,...,...
1147,1147,Delhi,South West Delhi,18.1,Cloudy,40,18.0,2025-01-20 00:00:00,False
1148,1148,Puducherry,Karaikal,24.9,Light rain shower,81,25.9,2025-01-20 00:00:00,False
1149,1149,Puducherry,Mahe,26.2,Partly cloudy,74,18.4,2025-01-20 00:00:00,False
1150,1150,Puducherry,Puducherry,24.8,Sunny,76,26.3,2025-01-20 00:00:00,False
1151,1151,Puducherry,Yanam,23.6,Sunny,65,15.5,2025-01-20 00:00:00,False

In [70]:
df2['HOT'] = df2['Temperature (C)'].apply(lambda x : x>30)

In [71]:
df2

,Unnamed: 0,State/UT,District,Temperature (C),Condition,Humidity (%),Wind Speed (km/h),Last Updated,HOT
0,0,Andhra Pradesh,Anantapur,22.1,Clear,64,14.4,2025-01-23 23:00:00,False
1,1,Andhra Pradesh,Chittoor,18.5,Clear,93,4.0,2025-01-23 23:00:00,False
2,2,Andhra Pradesh,East Godavari,19.4,Clear,86,3.6,2025-01-23 23:00:00,False
3,3,Andhra Pradesh,Guntur,22.3,Mist,88,5.4,2025-01-23 23:00:00,False
4,4,Andhra Pradesh,Krishna,22.3,Mist,88,10.8,2025-01-23 23:00:00,False
...,...,...,...,...,...,...,...,...,...
1147,1147,Delhi,South West Delhi,18.1,Cloudy,40,18.0,2025-01-20 00:00:00,False
1148,1148,Puducherry,Karaikal,24.9,Light rain shower,81,25.9,2025-01-20 00:00:00,False
1149,1149,Puducherry,Mahe,26.2,Partly cloudy,74,18.4,2025-01-20 00:00:00,False
1150,1150,Puducherry,Puducherry,24.8,Sunny,76,26.3,2025-01-20 00:00:00,False
1151,1151,Puducherry,Yanam,23.6,Sunny,65,15.5,2025-01-20 00:00:00,False

### Merging

In [75]:
d1 = pd.DataFrame({"city" : ["Lucknow","Kanpur","Agra","Delhi"], "Temperature" : [32,45,30,40]})

In [76]:
d1

      city  Temperature
0  Lucknow           32
1   Kanpur           45
2     Agra           30
3    Delhi           40

In [77]:
d2 = pd.DataFrame({"city" : ["Delhi","Lucknow","Kanpur"], "Humidiity" : [32,45,40]})

In [78]:
d2

      city  Humidiity
0    Delhi         32
1  Lucknow         45
2   Kanpur         40

In [79]:
pd.merge(d1,d2,on='city')

      city  Temperature  Humidiity
0  Lucknow           32         45
1   Kanpur           45         40
2    Delhi           40         32

In [80]:
pd.merge(d1,d2, on = ['city'], how = 'outer')

      city  Temperature  Humidiity
0     Agra           30        NaN
1    Delhi           40       32.0
2   Kanpur           45       40.0
3  Lucknow           32       45.0

In [82]:
pd.merge(d1,d2, on = ['city'], how = 'inner')

      city  Temperature  Humidiity
0  Lucknow           32         45
1   Kanpur           45         40
2    Delhi           40         32

In [83]:
pd.merge(d1,d2, on = ['city'], how = 'left')

      city  Temperature  Humidiity
0  Lucknow           32       45.0
1   Kanpur           45       40.0
2     Agra           30        NaN
3    Delhi           40       32.0

In [84]:
pd.merge(d1,d2, on = ['city'], how = 'right')

      city  Temperature  Humidiity
0    Delhi           40         32
1  Lucknow           32         45
2   Kanpur           45         40